*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.text-container{
    color: white;
    display: flex;
    flex-direction: column;
}
.text-container span{
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 15rem;
    line-height: 1.05;
    
}
.text-container span:first-child,
.text-container span:last-child{
    position: relative;
    width: fit-content;
}
.text-container span:first-child{
    transform: rotate(5deg);
    color: rgb(255, 66, 113);
}
.text-container span:last-child{
    color: rgb(178, 135, 235);
    transform: rotate(-5deg);
}
.text-container span:first-child::after,
.text-container span:first-child::before{
    content: "radhe";
    position: absolute;
    color: transparent;
}
.text-container span:first-child::before{
    left: -5px;
    top: 5px;
    -webkit-text-stroke: 2px rgb(255, 0, 76);
    -moz-text-stroke: 2px rgb(255, 0, 76);
}
.text-container span:first-child::after{
    left: 5px;
    top: -5px;
    -webkit-text-stroke: 2px rgb(155, 255, 160);
    -moz-text-stroke: 2px aqua;
}
.text-container span:last-child::after,
.text-container span:last-child::before{
    content: "krishna";
    position: absolute;
    color: transparent;
}
.text-container span:last-child::before{
    left: -5px;
    top: 5px;
    -webkit-text-stroke: 2px rgb(234, 0, 255);
    -moz-text-stroke: 2px rgb(234, 0, 255);
}
.text-container span:last-child::after{
    left: 5px;
    top: -5px;
    -webkit-text-stroke: 2px aqua;
    -moz-text-stroke: 2px aqua;
}

@media screen and (max-width:1100px) {
    .text-container span{
        font-size: 10rem;
    }
}
@media screen and (max-width:768px) {
    .text-container span{
        font-size: 7rem;
    }
}
@media screen and (max-width:500px) {
    .text-container span{
        font-size: 4rem;
    }
}